# plumOS V90S RetroArch factory default.
# Kept in the FAT32 app layer so users can reset RA without reflashing.

config_save_on_exit = "true"
core_options_path = "/mnt/plumos/config/retroarch/retroarch-core-options.cfg"
libretro_directory = "/mnt/plumos/cores"
libretro_info_path = "/usr/share/libretro/info"
assets_directory = "/usr/share/libretro/assets"
system_directory = "/mnt/plumos/bios"
savefile_directory = "/mnt/plumos/Saves"
savestate_directory = "/mnt/plumos/States"
screenshot_directory = "/mnt/plumos/Screenshots"
content_database_path = "/usr/share/libretro/database/rdb"

log_verbosity = "true"
libretro_log_level = "0"
fps_show = "true"
fps_update_interval = "256"
video_font_enable = "true"
video_font_size = "16.000000"

menu_driver = "rgui"
video_driver = "gl"
video_context_driver = "mali_fbdev"
video_fullscreen = "true"
video_windowed_fullscreen = "true"
video_vsync = "true"
video_refresh_rate = "58.917103"
video_threaded = "true"
threaded_data_runloop_enable = "true"
vrr_runloop_enable = "true"
video_smooth = "false"
video_scale_integer = "false"
video_force_aspect = "true"
video_aspect_ratio = "1.333333"

audio_enable = "true"
audio_driver = "alsa"
audio_device = "hw:0,0"
audio_sync = "true"
audio_latency = "64"

input_driver = "sdl2"
input_joypad_driver = "sdl2"
input_autodetect_enable = "true"
joypad_autoconfig_dir = "/mnt/plumos/config/retroarch/autoconfig"
input_player1_analog_dpad_mode = "1"
input_player1_a_btn = "0"
input_player1_b_btn = "1"
input_player1_x_btn = "2"
input_player1_y_btn = "3"
input_player1_l_btn = "9"
input_player1_r_btn = "10"
input_player1_l2_btn = "nul"
input_player1_r2_btn = "nul"
input_player1_l2_axis = "+4"
input_player1_r2_axis = "+5"
input_player1_select_btn = "4"
input_player1_start_btn = "6"
input_player1_up_btn = "11"
input_player1_down_btn = "12"
input_player1_left_btn = "13"
input_player1_right_btn = "14"
input_player1_up = "up"
input_player1_down = "down"
input_player1_left = "left"
input_player1_right = "right"
input_player1_a = "x"
input_player1_b = "z"
input_player1_start = "enter"
input_player1_select = "rshift"
input_exit_emulator = "escape"
input_enable_hotkey = "rshift"
input_hotkey_block_delay = "5"
input_menu_toggle = "enter"
input_menu_toggle_btn = "5"
input_menu_toggle_gamepad_combo = "4"
all_users_control_menu = "true"
menu_pause_libretro = "true"
rgui_show_start_screen = "false"

pause_nonactive = "false"
run_ahead_enabled = "false"
rewind_enable = "false"
cheevos_enable = "false"
network_cmd_enable = "false"
