# POWKIDDY V90S built-in controller exposed by the StockOS kernel.
input_driver = "sdl2"
input_device = "adc_gamepad"
input_device_display_name = "POWKIDDY V90S Gamepad"
input_vendor_id = "307"
input_product_id = "4496"

input_a_btn = "0"
input_b_btn = "1"
input_x_btn = "2"
input_y_btn = "3"
input_l_btn = "4"
input_r_btn = "5"
input_l2_btn = "6"
input_r2_btn = "7"
input_select_btn = "8"
input_start_btn = "9"

input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

# The physical Function key and Select+Start both emit SDL button 10.
input_menu_toggle_btn = "10"
